<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body></body>
    <h1>CS 432 DATABASES FUAAARK</h1>
    <form action="/log-in" method="POST">
      <label for="username">Username</label>
      <input type="text" name="username" placeholder="username" />
      <label for="password">Password</label>
      <input type="text" name="password" placeholder="password" />
      <button>Log in</button>
    </form>
  </body>
</html>
