<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <title>Maryland Crime Statistics</title>
  </head>
  <body></body>
    <h1>CS 432 Database Systems NoSQL Project - Analyzing Maryland Crime Data</h1>
    <div class="query"><a href="/queryOne">Query One</a></div>
    <div class="query"><a href="/queryTwo">Query Two</a></div>
    <div class="query"><a href="/queryThree">Query Three</a></div>
  </body>
</html>
