<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body></body>
    <div><a href="/">Home</a></div>
    <h1>Query Two - Incidence of crimes at specific time ranges in each city</h1>
    <form action="/queryTwo" method="POST">
        <div>Enter an integer between 0 and 23 for the time. Ex. 0 means midnight, 12 means noon</div>
        <br>
      <label for="timeStart">Time range start</label>
      <input type="number" name="timeStart" min="0" max="23"/>
      <label for="timeEnd">Time range end</label>
      <input type="number" name="timeEnd" in="0" max="23"/>
      <label for="city">City</label>
      <input type="text" name="city"  />
      <button>Submit</button>
    </form>
    <% if (typeof isPost !== 'undefined') { %>
    <h1><%= crimesSize %></h1>
    <% } %>
  </body>
</html>
